<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/wad-quiz/view/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my-app</title>
    <script type="module" crossorigin src="/wad-quiz/view/assets/index-dMFv0C8v.js"></script>
    <link rel="modulepreload" crossorigin href="/wad-quiz/view/assets/App-Bvv13uTU.js">
    <link rel="stylesheet" crossorigin href="/wad-quiz/view/assets/App-f-gP2FIt.css">
    <link rel="stylesheet" crossorigin href="/wad-quiz/view/assets/index-BPHE-U2Z.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
